{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block main_info_bl %}

<div class="center_block text-center">
    {% if user.is_authenticated %}
    <div class="home_block">
        <h1>Сервис для учета технического обслуживания ваших автомобилей.</h1>
    </div>
    {% else %}
    <div class="home_block">
        <h1>Сервис для учета технического обслуживания ваших автомобилей.</h1>
        <br>
        <h3>Войдите в аккаунт чтобы пользоваться нашим сервисом.</h3>
    </div>
    {% endif %}
</div>

{% endblock %}