{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block main_info_bl %}

<div class="center_block text-center">
    {% if user.is_authenticated %}
    {% for car in user_cars %}
    <h1>{{ car.car_name }} {{ car.car_color }} {{ car.car_mileage }}</h1>
    {% endfor %}

    {% for record in user_records %}
    <h1>{{ record.record_maintenance_type }} {{ record.record_maintenance_date }} {{ record.record_car.car_name }}</h1>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}